* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  margin-left:1rem;
  margin-top: 1rem;
}
.dashboard {
  background-color: blue;
  text-shadow: 2px; 
  border-bottom:2px solid black;
}

.cityNames {
  margin-top: 15px;
  background-color: lightgray;
  padding: 2vh;
}

.search {
  margin-bottom: 10px;
  padding: 10px;
}

.card-title {
    /* text-align: center; */
    justify-content: flex-end;
}

.jumbotron {
  background-color: lightgray;
  margin-top: 89px;
  margin-bottom: 20px;
}

footer {
  display: block;
  background-color: lightgray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}
